<table border="1">
  <thead>
    <tr>
      <th>Name</th>
      <th>Grade</th>
      <th>Comment</th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= @word.word1 %></td>
        <td><%= @word.word2 %></td>
        <td><%= @word.word3 %></td>
      </tr>
  </tbody>
</table>

<br>

<%= link_to 'Top', user_path %>
